[Desktop Entry]
Version=1.0
Name=Khan Academy
Exec=omarchy-launch-webapp https://www.khanacademy.org/
Terminal=false
Type=Application
Icon=applications-education
StartupNotify=true
